<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Book Manage System </title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        nav {
            font-size: 1.5rem;
            background-color: #21D4FD;
            background-image: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
            background-image: -moz-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
            background-image: -o-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
            background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        }

        h1 {
            font-size: 2rem;
            color: white;
        }

        li {
            margin: 10px 20px;
        }

        #searchBox {
            width: 300px;
            float: right;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li>
            <h1><a th:href="@{/}" style="color: white; text-decoration: none">Book Manage System </a></h1>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/book/getAll}">Book List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/user/record/getOwnRecord}">Borrow Record</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/user/reserve/getAll}">Reserve Record</a>
        </li>
    </ul>
    <div class="text-white" style="font-size: medium; position: absolute; bottom: 30px; right: 40px">
        <div class="dropdown">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"
               th:text="${session.name}+', Hello'">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:href="@{/user/toInfoPage}" sec:authorize="hasRole('USER')">Person
                    Information</a>
                <a class="dropdown-item" th:href="@{/toChPwdPage}">Modify Password</a>
                <a class="dropdown-item" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</nav>

<!--模态框-->
<!--<div class="modal fade" id="fineModel" data-show="true" aria-labelledby="staticBackdropLabel" aria-hidden="true"-->
<!--     tabindex="-1">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div>you need to pay [[${fine}]] yuan</div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                &lt;!&ndash;                <a class="nav-link" th:href="@{/toPayPage}">To Pay</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                <button type="button" class="btn btn-primary">Understood</button>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="alert alert-primary" role="alert">
    you need to pay [[${fine}]] yuan
</div>

<div class="container" style="margin-top: 40px">
    <table class="table table-hover" style="margin-top: 20px">
        <thead>
        <tr>
            <th>bookId</th>
            <th>userId</th>
            <th>borrowDate</th>
            <th>LatestReturnDate</th>
            <th>Fine</th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="record, recordStat: ${records}">
            <td th:text="${record.getBookId()}"></td>
            <td th:text="${record.getReaderId()}"></td>
            <td th:text="${#dates.format(record.getBorrowDate(),'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(record.getReturnDate(),'yyyy-MM-dd')}"></td>
            <td th:text="${record.getFine()}"></td>
            <td>
<!--                <a th:if="${record.getFine()}==0" th:href="@{'/user/record/returnBook/' + ${record.getBookId()}}"-->
<!--                   class="btn btn-outline-success">Return</a>-->

<!--                <a th:if="${record.getFine()}==0" th:href="@{'/user/record/renewBook/' + ${record.getBookId()}}"-->
<!--                   class="btn btn-outline-success">Renew</a>-->
                <a th:if="${record.getFine()}!=0"
                   th:href="@{'/user/toPay/' + ${record.getBookId()}+'/'+ ${record.getFine()}}"
                   class="btn btn-outline-warning">Pay the fine</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>


<script>
    window.onload = function () {
        let f = [[${fine}]];
        console.log(f);



    }
</script>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
