<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkx.bookmanager.mapper.ParamMapper">
    <select id="getAllCategories" resultType="String">
        select * from category_info;
    </select>

    <select id="getFace" resultType="int">
        select `face` from location_info;
    </select>

    <select id="getColumn" resultType="int">
        select `column` from location_info;
    </select>

    <select id="getFloor" resultType="int">
        select `floor` from location_info;
    </select>

    <select id="getRow" resultType="int">
        select `row` from location_info;
    </select>

    <update id="addCategory" parameterType="String">
        insert into category_info values (#{category})
    </update>

    <update id="addFace">
        update location_info set `face` = face + 1
    </update>
    <update id="addRow">
        update location_info set `row` = row + 1
    </update>
    <update id="addFloor">
        update location_info set `floor` = floor + 1
    </update>
    <update id="addColumn">
        update location_info set `column` = `column` + 1
    </update>
</mapper>