<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkx.bookmanager.mapper.RecordMapper">
    <select id="getAllRecord" resultType="Record">
        select * from lend_list
    </select>

    <select id="getOwnRecord" resultType="Record">
        select * from lend_list where readerId = #{readerId}
    </select>

    <update id="updateRecordById" parameterType="Record">
        update lend_list set latestFineDay = #{latestFineDay} where readerId = #{readerId} and bookId=#{bookId}
    </update>

    <insert id="insertRecord" parameterType="Record">
        insert into lend_list values(#{bookId},#{readerId},#{borrowDate},#{latestFineDay})
    </insert>

    <select id="getRecordNum" resultType="int">
       select count(*)  from lend_list where readerId = #{readerId}
    </select>

    <select id="getRecord" resultType="Record">
        select *  from lend_list where bookId = #{bookId} and readerId=#{readerId}
    </select>

    <select id="getRecordByBookId" resultType="Record">
        select * from lend_list where bookId = #{bookId}
    </select>

    <delete id="deleteRecord">
        delete from lend_list where bookId = #{bookId} and readerId=#{readerId}
    </delete>
    <delete id="returnById" >
        delete from lend_list where bookId = #{bookId}
    </delete>

    <select id="getTotalBorrows" resultType="int">
        select count(*) from lend_list
    </select>

    <select id="getTotalReturnedBooksById" parameterType="String" resultType="int">
        select count(*) from borrow_history where readerId = #{readerId}
    </select>

    <insert id="insertBookHistory" parameterType="Record">
        insert into borrow_history(readerId,bookId,borrowDate,returnDate,state) values (#{readerId},#{bookId},#{borrowDate},#{latestFineDay},0)
    </insert>

    <select id="getNotifyBooksIdByReaderId" parameterType="String" resultType="Record">
        select * from borrow_history where readerId = #{readerId} and state = 0
    </select>

    <update id="setBookStateByReaderId" parameterType="String">
        update borrow_history set state = 1 where readerId = #{readerId}
    </update>

    <select id="getOwnBookHistory" parameterType="String" resultType="Record">
        select * from borrow_history where readerId = #{readerId}
    </select>

    <select id="isBorrowedBookById" resultType="int">
        select count(*) from lend_list where readerId = #{readerId}
    </select>

    <delete id="deleteById" parameterType="String">
        delete from lend_list where readerId = #{readerId}
    </delete>

</mapper>